body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
    margin: 0;
    background-color: #000000;
    color: white;
    user-select: none;
    font-size: 0.2rem;
}

html {
    font-size: max(50px, min(11.111111vh, 6.25vw));
}

#app {
    height: 9rem;
    width: 16rem;
    overflow: hidden;
    position: absolute;
    left: 0;right: 0;top:0;bottom:0;
    margin: auto;
}

.LoadingP,
.HomeP,
.MainP {
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* background-color: rgba(255, 0, 0, 0.1); */
    background-color: black;
    background-size: 100% auto;
    position: absolute;
    top: 0;
    bottom: 0;
}

.testBar {
    position: fixed;
    border: 5px solid transparent;
    width: 400px;
    top: 0;
    right: calc(-400px + 5px);
    background-color: rgba(255, 255, 255, 0.2);
    height: 100%;
    transition: right 0.5s ease-in 0.2s;
    z-index: 100;
}

.testBar:hover {
    right: calc(0px);
    transition: right ease-out 0.5s;
}

.testButton {
    padding: 20px;
    background-color: blueviolet;
    border: 2px solid #333;
}

.testText {
    padding: 10px;
    background-color: coral;
    color: aliceblue;
    border: 2px solid #333;
    height: fit-content;
}
.ResourceView{
    overflow: auto;
    height: 9rem;
    color: aliceblue;
    background-color: darkslategray;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5,3rem);
}
.ResourceView::-webkit-scrollbar {
    /* width: 0; */
    display: none;
}

.ResourceView .viewBox{
    height: 4rem;
    outline: 1px solid snow;
}
.ResourceView .viewBox img{
    max-height: 3.5rem;
    max-width: 3rem;
}
.ResourceView .viewBox p{
    height: .5rem;
    margin: 0;
}
.ResourceView .viewBox a:-webkit-any-link {
    color: unset;
    cursor: pointer;
}
.ResourceView .viewBox a:focus img{
    max-height: none;
    max-width: none;
    max-height: 95%;
    max-width: 95%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}