/* style-12 */

.LoadingP.style-12 .logo-mask {
    background-color: #333;
}

.LoadingP.style-12 .loading-back {
    background-image: linear-gradient(to right,
            rgba(247, 223, 190, 0.6) 0%,
            rgba(247, 223, 190, 0.7) 11.1%,
            rgba(247, 223, 190, 0.9) 33.3%,
            rgba(247, 223, 190, 0.7) 55.5%,
            rgba(247, 223, 190, 0.6) 66.6%,
            rgba(247, 223, 190, 0.7) 77.7%,
            rgba(247, 223, 190, 0.9) 100%);
}

.LoadingP.style-12 .loading-back::after {
    background-color: rgba(247, 223, 190, 0.5);
}

.LoadingP.style-12::after {
    background-image: linear-gradient(to right, rgba(247, 223, 190, 1) 0%, rgba(247, 223, 190, 1) 25%, transparent 100%);
}

.LoadingP.style-12 .body::before {
    background:
        radial-gradient(transparent 93%, rgba(247, 223, 190, 0.24) 94%) 1rem 1rem,
        radial-gradient(transparent 93%, rgba(247, 223, 190, 0.16) 94%) .5rem .5rem,
        radial-gradient(transparent 93%, rgba(247, 223, 190, 0.08) 94%),
        linear-gradient(rgba(247, 223, 190, 0.05), rgba(247, 223, 190, 0.05) 2%, transparent 2%, transparent 31%, rgba(247, 223, 190, 0.05) 31%, rgba(247, 223, 190, 0.05) 35%, transparent 35%, transparent 65%, rgba(247, 223, 190, 0.05) 65%, rgba(247, 223, 190, 0.05) 69%, transparent 69%, transparent 98%, rgba(247, 223, 190, 0.05) 98%),
        linear-gradient(to right, rgba(247, 223, 190, 0.05), rgba(247, 223, 190, 0.05) 2%, transparent 2%, transparent 31%, rgba(247, 223, 190, 0.05) 31%, rgba(247, 223, 190, 0.05) 35%, transparent 35%, transparent 65%, rgba(247, 223, 190, 0.05) 65%, rgba(247, 223, 190, 0.05) 69%, transparent 69%, transparent 98%, rgba(247, 223, 190, 0.05) 98%),
        rgba(41, 82, 59, 1);
    background-size: 1.5rem 1.5rem;
}

.LoadingP.style-12 .body::after {
    box-shadow: -1rem 0px .5rem -.5rem rgba(247, 223, 190, 1) inset;
}

.LoadingP.style-12.exit .body::after {
    box-shadow: 1rem 0px .5rem -.5rem rgba(247, 223, 190, 1) inset;
}

.LoadingP.style-12.exit::after {
    background-image: linear-gradient(to left, rgba(247, 223, 190, 1) 0%, rgba(247, 223, 190, 1) 25%, transparent 100%);
}

.LoadingP.style-12 .word {
    color: rgba(41, 82, 59, 1);
    user-select: none;
}

.LoadingP.style-12 .header {
    background-color: rgba(247, 223, 190, 1);
    outline: 5px solid rgba(247, 223, 190, 1);
}

.LoadingP.style-12 .footer {
    background-color: rgba(247, 223, 190, 1);
    outline: 5px solid rgba(247, 223, 190, 1);
}

.LoadingP.style-12 .title {
    color: rgba(41, 82, 59, 1);
}

.LoadingP.style-12 .tip-title {
    border-left: .2rem solid rgba(41, 82, 59, 1);
}