.MainP {
    color: aliceblue;
}

.MainP .textBar {
    background-color: rgba(0, 255, 0, 0.2);
    height: 28%;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 0;
}

.MainP .textBar .charaName {
    position: absolute;
    top: -4px;
    left: 0;
    font-weight: 600;
    text-align: center;
    padding-left: 10px;
    width: 182px;
    font-size: 20px;
    line-height: 40px;
}

.MainP .textBar .charaName::after {
    content: "";
    position: absolute;
    left: -20px;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rebeccapurple;
    z-index: -1;
    border-radius: 5px 5px 5px 5px;
    transform: skew(315deg);
}
.MainP .textBar .charaName::before {
    content: "";
    position: absolute;
    left: -12px;
    right: -8px;
    top: 0px;
    bottom: -2px;
    background-color: #8844cc;
    z-index: -1;
    border-radius: 5px 5px 5px 5px;
    transform: skew(315deg);
}

.MainP .textBar .text {
    margin: 48px 80px;
    margin-bottom: 0;
    text-align: left;
    text-indent: 32px;
    font-size: 18px;
}

.MainP .choice {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}

.MainP .choice .optionList {
    top: 0;
    bottom: 28%;
    width: 100%;
    height: fit-content;
    position: absolute;
    margin: auto;
}

.MainP .choice .option {
    background-color: cadetblue;
    line-height: 48px;
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 8px;
    width: 648px;
}

.MainP .buttonBar {
    position: absolute;
    right: 0;
    top:0;
    height: fit-content;
}

.MainP .buttonBar .button{
    float: left;
    border-left:1px solid white;
    width: 128px;
    text-align: center;
    line-height: 40px;
}

.MainP .placeBox {
    position: absolute;
    height: 100%;
    width: 100%;
}
.MainP .placeBox img{
    position: absolute;
    height: 100%;
    /* min-width: 100%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
