/* style-1 */

.LoadingP.style-1 .logo-mask {
    background-color: #333;
}

.LoadingP.style-1 .loading-back {
    background-image: linear-gradient(to right,
            rgba(238, 235, 204, 0.6) 0%,
            rgba(238, 235, 204, 0.7) 11.1%,
            rgba(238, 235, 204, 0.9) 33.3%,
            rgba(238, 235, 204, 0.7) 55.5%,
            rgba(238, 235, 204, 0.6) 66.6%,
            rgba(238, 235, 204, 0.7) 77.7%,
            rgba(238, 235, 204, 0.9) 100%);
}

.LoadingP.style-1 .loading-back::after {
    background-color: rgba(238, 235, 204, 0.5);
}

.LoadingP.style-1::after {
    background-image: linear-gradient(to right, rgba(238, 235, 204, 1) 0%, rgba(238, 235, 204, 1) 25%, transparent 100%);
}

.LoadingP.style-1 .body::before {
    background:
        radial-gradient(transparent 93%, rgba(238, 235, 204, 0.24) 94%) 80px 80px,
        radial-gradient(transparent 93%, rgba(238, 235, 204, 0.16) 94%) 40px 40px,
        radial-gradient(transparent 93%, rgba(238, 235, 204, 0.08) 94%),
        linear-gradient(rgba(238, 235, 204, 0.05), rgba(238, 235, 204, 0.05) 2%, transparent 2%, transparent 31%, rgba(238, 235, 204, 0.05) 31%, rgba(238, 235, 204, 0.05) 35%, transparent 35%, transparent 65%, rgba(238, 235, 204, 0.05) 65%, rgba(238, 235, 204, 0.05) 69%, transparent 69%, transparent 98%, rgba(238, 235, 204, 0.05) 98%),
        linear-gradient(to right, rgba(238, 235, 204, 0.05), rgba(238, 235, 204, 0.05) 2%, transparent 2%, transparent 31%, rgba(238, 235, 204, 0.05) 31%, rgba(238, 235, 204, 0.05) 35%, transparent 35%, transparent 65%, rgba(238, 235, 204, 0.05) 65%, rgba(238, 235, 204, 0.05) 69%, transparent 69%, transparent 98%, rgba(238, 235, 204, 0.05) 98%),
        rgba(1, 132, 127, 1);
    background-size: 120px 120px;
}

.LoadingP.style-1 .body::after {
    box-shadow: -150px 0px 70px -70px rgba(238, 235, 204, 1) inset;
}

.LoadingP.style-1.exit .body::after {
    box-shadow: 150px 0px 70px -70px rgba(238, 235, 204, 1) inset;
}

.LoadingP.style-1.exit::after {
    background-image: linear-gradient(to left, rgba(238, 235, 204, 1) 0%, rgba(238, 235, 204, 1) 25%, transparent 100%);
}

.LoadingP.style-1 .word {
    color: rgba(1, 132, 127, 1);
    user-select: none;
}

.LoadingP.style-1 .header {
    background-color: rgba(238, 235, 204, 1);
    outline: 5px solid rgba(238, 235, 204, 1);
}

.LoadingP.style-1 .footer {
    background-color: rgba(238, 235, 204, 1);
    outline: 5px solid rgba(238, 235, 204, 1);
}

.LoadingP.style-1 .title {
    color: rgba(1, 132, 127, 1);
}

.LoadingP.style-1 .tip-title {
    border-left: 16px solid rgba(1, 132, 127, 1);
}